
node_modules/

cypress/videos/
cypress/screenshots/
cypress/downloads/
cypress/reports/
cypress/results/


cypress.env.json
.env
.env.*


yarn-error.log
.nyc_output/
coverage/
.cache/


.DS_Store
Thumbs.db